<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fukayatsu.alfread-he</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4F6A98D1-BE48-434D-A24A-79062CF838AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B08752C1-E446-4AD8-8D27-260203413AF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73742D0B-EEBF-4EE1-B5EB-B47F3838A051</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B08752C1-E446-4AD8-8D27-260203413AF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B08752C1-E446-4AD8-8D27-260203413AF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>186DAF79-521D-4CFF-9E3A-54072AC08418</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fukayatsu</string>
	<key>description</key>
	<string>home electronics control</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>he</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>source ~/.zshrc

/usr/bin/env ruby client.rb "{query}"
</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B08752C1-E446-4AD8-8D27-260203413AF3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>he</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>186DAF79-521D-4CFF-9E3A-54072AC08418</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>air</string>
				<key>script</key>
				<string>ruby suggest.rb "air:{query}"</string>
				<key>title</key>
				<string>air:[command]</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73742D0B-EEBF-4EE1-B5EB-B47F3838A051</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>lights</string>
				<key>script</key>
				<string>ruby suggest.rb "lights:{query}"</string>
				<key>title</key>
				<string>lights:command</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F6A98D1-BE48-434D-A24A-79062CF838AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>186DAF79-521D-4CFF-9E3A-54072AC08418</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>4F6A98D1-BE48-434D-A24A-79062CF838AC</key>
		<dict>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>73742D0B-EEBF-4EE1-B5EB-B47F3838A051</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>B08752C1-E446-4AD8-8D27-260203413AF3</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fukayatsu/alfred-he</string>
</dict>
</plist>
